<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- always put your name in your work -->
    <meta name="author" content="Robert C. Duvall">
    <!-- stop the web browser from ever caching this page or its images -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- libraries neded for this page -->
    <!-- support for this page -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Login Page</title>
</head>
<body>
<form method="post">
  {% csrf_token %}
 <div class="cont">
    <h1 class="login-title">Inventory Manager</h1>
  </div>
  <input type="text" name="username" autofocus required class="login-input name" placeholder="User"/>
   <input type="password" name="password" class="login-input pass" placeholder="Password"/>
  <button type="submit" class="login-submit">Sign in</button>
</form>
<div id="firsttime">
  <button class="login-submit"><a href="/admin">Go to Django Admin Panel (to add users or change roles)</a></button>
</div>
<div id="firsttime">
  <button class="login-submit"><a href="https://oauth.oit.duke.edu/oauth/authorize.php?client_id=hypo-meals&amp;redirect_uri=https%3A%2F%2Fhypomeals.herokuapp.com%2Fnetid&amp;response_type=token&amp;state=1129&amp;scope=basic">Net ID</a></button>
</div>
</body>
</html>
