<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- always put your name in your work -->
    <meta name="author" content="Robert C. Duvall">
    <!-- stop the web browser from ever caching this page or its images -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- libraries neded for this page -->
    <!-- support for this page -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Login Page</title>
</head>
<body>
<form method="post">
  {% csrf_token %}
 <div class="cont">
    <h1 class="login-title">Inventory Manager</h1>
  </div>
  <input type="text" name="username" autofocus required class="login-input name" placeholder="User"/>
   <input type="password" name="password" class="login-input pass" placeholder="Password"/>
  <button type="submit" class="login-submit">Sign in</button>
</form>
</body>
</html>
