{% extends 'base.html' %}
{% block content %}
<div id="starting">
   <div class="container">
      <div class="row">
         <h1>List of Manufacturing Goals
            <button class="btn btn-success" data-toggle="modal" data-target="#addGoalModal">Add Manufacturing Goal</button>
         </h1>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Goal Name</th>
                  <th scope="col">Deadline</th>
                  <th scope="col">Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="goal in displayedGoals">
                  <th scope="row">${goal.goalname}</th>
                  <th scope="row">${goal.deadline}</th>
                  <td>
                     <button class="btn btn-primary" v-on:click="viewGoal(goal.id)">View Goal</button>
                     <button class="btn btn-info" v-on:click="getGoal(goal.id)">Edit</button>
                     <button class="btn btn-danger" v-on:click="deleteGoal('{{user.id}}',goal.id)">Delete</button> 
                     <button class="btn btn-primary" v-on:click="Calculate(goal.id)">Calculate Ingredients</button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="clearfix btn-group col-md-2 offset-md-5">
            <button type="button" class="btn btn-sm btn-outline-secondary" v-if="page != 1" @click="page--"> << </button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> ${pageNumber} </button> -->
            <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages " @click="page = pageNumber"> ${pageNumber} </button>
            <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> >> </button>
          </div>
   </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
   <!-- Add Goal Modal -->
   <div class="modal fade" id="addGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Add Manufacturing Goal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <!-- Not sure if this needs to be refactored.... jinja2 inside of vue? ew. -->
            <p class="error" v-if="dateError">${ dateError }</p>
            <p class="error" v-if="error">${ error }</p>
            <form v-on:submit.prevent="addGoal('{{user.id}}')">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Goal Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter Goal Name"
                        v-model="newGoal.goalname"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Deadline*</label>
                     <input
                        type="date"
                        class="form-control"
                        placeholder="Enter Deadline"
                        v-model="newGoal.deadline"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <!-- Edit Goal Modal -->
      <div class="modal fade" id="editGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Edit Manufacturing Goal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <p class="error" v-if="dateError">${ dateError }</p>
            <p class="error" v-if="error">${ error }</p>
            <form v-on:submit.prevent="updateGoal('{{user.id}}',currentGoal.id)">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Goal Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter SKU Name"
                        v-model="currentGoal.goalname"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Deadline*</label>
                     <input
                        type="date"
                        class="form-control"
                        placeholder="Enter Deadline"
                        v-model="currentGoal.deadline"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   
   <!-- End of edit goal modal -->
   <div class="modal fade" id="addGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Add Manufacturing Goal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <!-- Not sure if this needs to be refactored.... jinja2 inside of vue? ew. -->
            <form v-on:submit.prevent="addGoal('{{user.id}}')">
               <div class="modal-body">
                  <div class="form-group">
                     <label>SKU Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter SKU Name"
                        v-model="newGoal.goal_sku_name"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Quantity*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Desired Quantity"
                        v-model="newGoal.desired_quantity"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <!-- End of add article modal -->
   <!-- Edit Article Modal -->
   <div class="modal fade" id="editGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Edit Manufacturing Goal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="updateGoal()">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Goal Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter Goal Name"
                        v-model="currentGoal.goal_sku_name"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Quantity*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Desired Quantity"
                        v-model="currentGoal.desired_quantity"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <!-- End of edit article modal -->
</div>
<script src="../static/js/goal.js"></script>
<!-- Not sure if there isn't a better solution -->
<script>vm.getGoals({{user.id}})</script>
{% endblock %}