{% extends 'base.html' %}
{% block content %}
<div id="starting">
   <div class="container">
      <div class="row">
         <h1>Ingredients for this SKU
            <button class="btn btn-success" data-toggle="modal" data-target="#addIngredientModal">Add Ingredients</button>
         </h1>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Ingredients</th>
                  <th scope="col">Quantity</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="ingredient in ingredients">
                  <th scope="row">${ingredient.ingredient_name}</th>
                  <th scope="row">${ingredient.quantity}</th>
                  <td>
                     <button class="btn btn-info" v-on:click="getIngredient(ingredient.id)">Edit</button>
                     <button class="btn btn-danger" v-on:click="deleteIngredient('{{skuid}}',ingredient.id)">Delete</button> 
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Add Ingredient</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="addIngredient('{{skuid}}')">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Ingredient Name</label>
                     <input
                        type="text"
                        id="name"
                        class="form-control"
                        placeholder="Enter Ingredient Name"
                        v-model="newIngredient.ingredient_name"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Quantity</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Package Size"
                        v-model="newIngredient.quantity"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <div class="modal fade" id="editIngredientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Edit Manufacturing Goal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="updateIngredient('{{skuid}}',currentIngredient.id)">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Ingredient Name</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter SKU Name"
                        v-model="currentIngredient.ingredient_name"
                        readonly >
                  </div>
                  <div class="form-group">
                     <label>Quantity*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Desired Quantity"
                        v-model="currentIngredient.quantity"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
<!-- Add Goal Modal -->
<!-- End of edit article modal -->
</div>
<script src="../static/js/ingredients-to-sku.js"></script>
<!-- Not sure if there isn't a better solution -->
<script>vm.getIngredients({{skuid}})</script>
{% endblock %}