{% extends 'base.html' %}
{% block content %}
<div id="starting">
   <div class="container">
      <div class="row">
         <h1>List of Ingredients
            <button class="btn btn-success" data-toggle="modal" data-target="#addIngredientModal">Add Ingredient</button>
         </h1>
         <input type="file" @change="selectIngredientCSV">
         <button type="submit" @click="uploadIngredientCSV">Upload</button>
         <button type="submit" @click="exportIngredientCSV">Export</button>
         <!-- try not using form -->
         <!-- <form method="post" enctype="multipart/form-data" v-on:submit.prevent="importIngredientCSV()">
            <input type="file" name="ingredientsCSV">
            <button type="submit">Upload</button>
         </form> -->
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Package Size</th>
                  <th scope="col">Cost per Package</th>
                  <th scope="col">Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="ingredient in ingredients">
                  <th scope="row">${ingredient.ingredient_name}</th>
                  <td>${ingredient.package_size}</td>
                  <td>${ingredient.cpp}</td>
                  <td>
                     <button class="btn btn-info" v-on:click="getIngredient(ingredient.id)">Edit</button>
                     <button class="btn btn-danger" v-on:click="deleteIngredient(ingredient.id)">Delete</button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
   <!-- Add Article Modal -->
   <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Add Ingredient</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="addIngredient()">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Ingredient Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Ingredient Name"
                        v-model="newIngredient.ingredient_name"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Package Size*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Package Size"
                        v-model="newIngredient.package_size"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Cost per Package*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Cost per Package"
                        v-model="newIngredient.cpp"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>(Optional) Vender Info</label>
                     <textarea
                        class="form-control"
                        placeholder="Enter Optional Vender Info"
                        v-model="newIngredient.description"
                        rows="3"></textarea>
                  </div>
                  <div class="form-group">
                     <label>(Optional) Ingredient ID</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Optional Ingredient ID"
                        v-model="newIngredient.id">
                  </div>
                  <div class="form-group">
                     <label>(Optional) Comment</label>
                     <input
                        class="form-control"
                        placeholder="Enter Optional Comment"
                        v-model="newIngredient.comment"
                        rows="3">
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <!-- End of add article modal -->

   <!-- Edit Article Modal -->
   <div class="modal fade" id="editIngredientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Edit Ingredient</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="updateIngredient()">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Ingredient Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Ingredient Name"
                        v-model="currentIngredient.ingredient_name"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Package Size*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Package Size"
                        v-model="currentIngredient.package_size"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Cost per Package*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Cost per Package"
                        v-model="currentIngredient.cpp"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>(Optional) Vender Info</label>
                     <textarea
                        class="form-control"
                        placeholder="Enter Optional Vender Info"
                        v-model="currentIngredient.description"
                        rows="3"></textarea>
                  </div>
                  <div class="form-group">
                     <label>(Optional) Ingredient ID</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Optional Ingredient ID"
                        v-model="currentIngredient.id">
                  </div>
                  <div class="form-group">
                     <label>(Optional) Comment</label>
                     <input
                        class="form-control"
                        placeholder="Enter Optional Comment"
                        v-model="currentIngredient.comment"
                        rows="3">
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <!-- End of edit article modal -->
</div>
<!-- <! — bootrtap js files → -->
<script src="../static/js/ingredient.js"></script>
{% endblock %}