{% extends 'base.html' %}
{% block content %}
<div id="starting">
   <div class="container">
      <div class="row">
         <h1>Manufacturing Goal#{{goalid}}
            {% if user.is_superuser or user.is_business_manager %}
            <button class="btn btn-success" data-toggle="modal" data-target="#addGoalModal">Add SKU</button>
            {% endif %}
            {% if user.is_superuser or user.is_analyst or user.is_product_manager or user.is_business_manager or user.is_plant_manager%}
            <button class="btn btn-success" type="submit" @click="exportCSV()">Export</button>
            {% endif %}
         </h1>
         {% if user.is_superuser or user.is_analyst or user.is_product_manager or user.is_business_manager or user.is_plant_manager%}
         <div class="form-inline my-2 my-lg-0">
            <input id = "search_input" class="form-control mr-sm-2" type="text" placeholder="Search" autocomplete="on" v-model="search_term"  aria-label="Search" @blur="onBlur">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="search_input_changed('{{goalid}}')">Search</button>
        </div>
        {% endif %}
        {% if user.is_superuser or user.is_analyst or user.is_product_manager or user.is_business_manager or user.is_plant_manager%}
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">SKU Name</th>
                  <th scope="col">Desired Quantity</th>
                  <th scope="col">Comment</th>
                  {% endif %}
                  {% if user.is_superuser or user.is_analyst %}
                  <th scope="col">Timestamp</th>
                  {% endif %}
                  {% if user.is_superuser or user.is_analyst or user.is_product_manager or user.is_business_manager or user.is_plant_manager%}
               </tr>
            </thead>
            <tbody>
               <tr v-for="goal in displayedGoals">
                  <th scope="row">${goal.goal_sku_name}</th>
                  <td>${goal.desired_quantity}</td>
                  <td>${goal.comment}</td>
                  {% endif %}
                  {% if user.is_superuser or user.is_analyst %}
                  <td>${goal.timestamp}</td>
                  {% endif %}
                  {% if user.is_superuser or user.is_business_manager %}
                  <td>
                     <button class="btn btn-info" v-on:click="getGoal(goal.id)">Edit</button>
                     <button class="btn btn-danger" v-on:click="deleteGoal(goal.id)">Delete</button>
                  </td>
                  {% endif %}
                  {% if user.is_superuser or user.is_analyst or user.is_product_manager or user.is_business_manager or user.is_plant_manager%}
               </tr>
            </tbody>
         </table>
      </div>
      <div class="clearfix btn-group col-md-2 offset-md-5">
            <button type="button" class="btn btn-sm btn-outline-secondary" v-if="page != 1" @click="page--"> << </button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> ${pageNumber} </button> -->
            <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages " @click="page = pageNumber"> ${pageNumber} </button>
            <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> >> </button>
          </div>
          {% endif %}
   </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
   <!-- Add Article Modal -->
   {% if user.is_superuser or user.is_business_manager %}
   <div class="modal fade" id="addGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Add Manufacturing Goal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <p class="error" v-if="error">${ error }</p>
            <p class="error" v-if="date_error">${ date_error }</p>
            <!-- Not sure if this needs to be refactored.... jinja2 inside of vue? ew. -->
            <form v-on:submit.prevent="addGoal('{{user.id}}','{{goalid}}')">
               <div class="modal-body">
                  <div class="form-group">
                     <label>SKU Name*</label>
                     <input
                        id="sku_search_input"
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter SKU Name"
                        v-model="newGoal.goal_sku_name"
                        required="required" 
                        autocomplete="on"
                        @blur="onBlurSkuName">
                  </div>
                  <div class="form-group">
                     <label>Quantity*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Desired Quantity"
                        v-model="newGoal.desired_quantity"
                        required="required" >
                  </div>
                  <div class="form-group">
                        <label>(Optional) Comment</label>
                        <input class="form-control" 
                        placeholder="Enter Optional Comment" 
                        v-model="newGoal.comment" 
                        rows="10">
                  </div>
               </div>
               <h5 class="modal-title" id="exampleModalLongTitle">Input Data for Sales Projection Tool</h5>
               <div class="modal-body">
                  <div class="form-group">
                     <label>Start Month</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Start Month"
                        v-model="start_date.month">
                  </div>
                  <div class="form-group">
                     <label>Start Day</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Start Day"
                        v-model="start_date.day">
                  </div>
                  <div class="form-group">
                     <label>End Month</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter End Month"
                        v-model="end_date.month">
                  </div>
                  <div class="form-group">
                     <label>End Day</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter End Day"
                        v-model="end_date.day">
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info" data-target="#salesProjectionModal" data-toggle="modal" v-on:click="getSalesProjection()">See Sales Projection</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>

   <div class="modal fade" id="salesProjectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Sales Projection</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <p class="error" v-if="date_error">${ date_error }</p>
            <table class="table">
               <thead>
                  <tr>
                     <!-- <th>Year</th> -->
                     <th>Start Date</th>
                     <th>End Date</th>
                     <th>Sales</th>
                  </tr>
               </thead>
               <tbody>
                  <tr v-for="(value,key) in projection_response.rows">
                           <!-- <th scope="row">${key}</th> -->
                              <!-- <template v-for="elements in value"> -->
                                 <td>${value.start_date}</td>
                                 <td>${value.end_date}</td>
                                 <td>${value.sales}</td>
                              <!-- </template> -->
                        </tr>
               </tbody>
               <thead>
               <tr>
                  <th>Summary Row</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>${projection_response.summary}</td>
               </tr>
            </tbody>
            </table>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info" data-dismiss="modal" v-on:click="copyData()">Copy Sales Avg</button>
               </div>
         </div>
      </div>
   </div>

   <!-- End of add article modal -->
   <!-- Edit Article Modal -->
   <div class="modal fade" id="editGoalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Edit Manufacturing Goal</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <p class="error" v-if="error">${ error }</p>
            <form v-on:submit.prevent="updateGoal({{goalid}})">
               <div class="modal-body">
                  <div class="form-group">
                     <label>SKU Name*</label>
                     <input
                        id="sku_search_input_2"
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter SKU Name"
                        v-model="currentGoal.goal_sku_name"
                        readonly>
                  </div>
                  <div class="form-group">
                     <label>Quantity*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Desired Quantity"
                        v-model="currentGoal.desired_quantity"
                        required="required" >
                  </div>
                  <div class="form-group">
                        <label>(Optional) Comment</label>
                        <input class="form-control" 
                        placeholder="Enter Optional Comment" 
                        v-model="currentGoal.comment" 
                        rows="10">
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   {% endif %}
   <!-- End of edit article modal -->
</div>
<!-- <! — bootrtap js files → -->
<script src="../static/js/manufacturing.js"></script>
<!-- Not sure if there isn't a better solution -->
<script>vm.getGoals({{goalid}})</script>
<script>vm.setUpGoalsAutocomplete({{user.id}},{{goalid}})</script>
{% endblock %}