{% extends 'base.html' %}
{% block content %}
<div id="starting">
   <div class="container">
      <div class="row">
         <h1>List of Product Lines
            {% if user.is_product_manager or user.is_superuser %}
            <button class="btn btn-success" data-toggle="modal" data-target="#addProductLineModal">Add Product Line</button>
            <input class="btn btn-success" type="file" @change="selectCSV">
            <button class="btn btn-success" type="submit" @click="uploadCSV">Upload Product Line</button>
            <p class="error" v-if="upload_errors">${ upload_errors }</p>
            {% endif %}
            <button class="btn btn-success" type="submit" @click="exportCSV()">Export</button>
            <p class="message" v-if="message">${ message }</p>
         </h1>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Name</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="product_line in displayedProductLines">
                  <th scope="row">${product_line.product_line_name}</th>
                  {% if user.is_product_manager or user.is_superuser %}
                  <td>
                     <!-- <button class="btn btn-info" v-on:click="getProductLine(product_line.product_line_name)">Edit</button> -->
                     <button class="btn btn-danger" v-on:click="deleteProductLine(product_line.product_line_name)">Delete</button>
                  </td>
                  {% endif %}
               </tr>
            </tbody>
         </table>
      </div>
      <div class="clearfix btn-group col-md-2 offset-md-5">
            <button type="button" class="btn btn-sm btn-outline-secondary" v-if="page != 1" @click="page--"> << </button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> ${pageNumber} </button> -->
            <button type="button" class="btn btn-sm btn-outline-secondary" v-for="pageNumber in pages " @click="page = pageNumber"> ${pageNumber} </button>
            <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> >> </button>
          </div>
   </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
   <!-- Add Article Modal -->
   {% if user.is_product_manager or user.is_superuser %}
   <div class="modal fade" id="addProductLineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Add Product Line</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <p class="error" v-if="name_error">${ name_error }</p>
            <form v-on:submit.prevent="addProductLine()">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Product Line Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter Product Line Name"
                        v-model="newProductLine.product_line_name"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <!-- End of add article modal -->

   <!-- Edit Article Modal -->
   <div class="modal fade" id="editProductLineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Edit Product Line</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <p class="error" v-if="error">${ error }</p>
            <form v-on:submit.prevent="updateProductLine()">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Product Line Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        accept-charset="ISO-8859-1"
                        placeholder="Enter roduct Line Name"
                        v-model="currentProductLine.product_line_name"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   {% endif %}
   <!-- End of edit article modal -->
</div>
<!-- <! — bootrtap js files → -->
<script src="../static/js/product_line.js"></script>
{% endblock %}