{% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'css/ingredients.css' %}"> {% block content %}
<div id="starting">
   <div class="container">
      <div class="row">
         <h1>Sales Report
         </h1>
         <div class="form-inline my-2 ml-2 mr-2 my-lg-0">
                        <button class="btn btn-success" data-toggle="modal" data-target="#updatePLModal" v-on:click.prevent="getProductLines()">Select Product Lines</button>
                  </div>
         <div class="form-inline my-2 ml-2 mr-2 my-lg-0">
            Select Customer:   
            <select id="customers"> 
              <option value="all">all</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
         </div>
         <template v-for="(value,key) in items">
         <table class="table">
               <!-- write a forloop for productline here using div -->
                  <tr>
                     <th colspan="100%" style="text-align:center;">Productline: ${key}</th>
                  </tr>
                  <!-- write a forloop for productline here using div -->
                  <template v-for="(value,key) in value">
                     <tr>
                        <th colspan="100%" style="text-align:center;">Sku ID: ${key}
                           <button class="btn btn-primary" v-on:click="viewDrilldown(key)">View Drilldown</button>
                        </th>
                     </tr>
                     <table>
                     <thead>
                           <tr>
                              <th scope="col">Year</th>
                              <th scope="col">Total Revenue</th>
                              <th scope="col">Avg Revenue/Case</th>
                              <th scope="col">Ingr Cost/Case</th>
                              <th scope="col">Avg Run Size</th>
                              <th scope="col">Avg Setup Cost/Case</th>
                              <th scope="col">Run Cost/Case</th>
                              <th scope="col">COGS/Case</th>
                              <th scope="col">Profit/Case</th>
                              <th scope="col">Profit Margin</th>
                           </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(value,key) in value">
                           <th scope="row">${key}</th>
                              <template v-for="elements in value">
                                 <td>${elements}</td>
                              </template>
                        </tr>
                     </tbody>
                     </table>
                  </template>
         </table>
      </template>
      </div>
   </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
   <div class="modal fade" id="updatePLModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                  <div class="modal-content">
                        <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Product Lines</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                        <form v-on:submit.prevent="updateProductLines()">
                              <div class="modal-body">
                                    <table class="table">
                                          <thead>
                                                <tr>
                                                      <th></th>
                                                      <th>Product Lines</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr v-for="pl in product_lines">
                                                      <td>
                                                            <input type="checkbox" v-model='pl.all_active'
                                                                  v-on:click="pl_checkbox_click($event, pl)">
                                                      </td>
                                                      <td>${pl.product_line_name}</td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                              <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                        </form>
                  </div>
            </div>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>
      </div>
</div>
<!-- <! — bootrtap js files → -->
<script src="../static/js/sales_report.js"></script>
{% endblock %}