{% extends 'base.html' %}
{% block content %}
<script src="../static/js/vis.min.js"></script>
{% load static %}
<link rel="stylesheet" href="{% static 'css/vis.min.css' %}">
<link rel="stylesheet" href="{% static 'css/scheduler.css' %}">
<div id="starting">
   {% if user.is_superuser or user.is_plant_manager%}
	<h1> Scheduler 
		<button class="btn btn-success" data-toggle="modal" data-target="#createReportModal">Create Schedule Report</button>
      <button class="btn btn-success" data-toggle="modal" data-target="#scheduleAutomationModal">Schedule Automation</button>
	</h1>
	<h3 class="error" v-if="message"> ${message} </h3>
   {% endif %}
   {% if user.is_superuser or user.is_analyst or user.is_product_manager or user.is_business_manager or user.is_plant_manager%}
	<div id="visualization"></div>
   {% endif %}
   {% if user.is_superuser or user.is_plant_manager%}
   <h4 class="error" v-if="search_error"> ${search_error} </h4>
	<div class="row">
        <input id = "search_input" class="form-control mr-sm-2" type="text" placeholder="Search" autocomplete="on" v-model="search_term"  aria-label="Search" @blur="onBlur">
        <button class="btn btn-outline-success my-2 my-sm-0 schedule-button" v-on:click.prevent="addGoal()">Add Goal</button>
        <button class="btn btn-outline-success my-2 my-sm-0 schedule-button" v-on:click.prevent="saveTimeline('{{user.id}}')">Save Timeline</button>
    </div>
	<div class='pane'>
	    <div class='side' style="max-width:350px;overflow:auto">
	        <pre id="output"></pre>
	    </div>
	    <div class='side'>
          select all unscheduled activities
         <input type="checkbox" v-model="selected" v-on:change="select_all_activities">
	    	<template v-for="(goal,list_index) in unscheduled_goals">
	    		<template v-for="(value,index) in goal">
	    			<div class="column">
                  <thead>
                     <tr>
						<th><h1>${ index }</h1></th>
                  <th><button class="btn btn-danger" v-on:click="removeGoal(index)">Remove</button></th>
                     </tr>
                  </thead>
                  <tbody>
		    			<ul class="items">
			    			<template v-for="(value2,index2) in value">
                         <tr>
								<!-- list_index is index for goal (i.e 0,1,2), index is goalname, index2 is sku names for that goal -->
								<template v-if="index2!='deadline'">
                           <td>
				    				<li draggable="true" class="item" v-on:dragStart="handleDragStart(list_index,index,index2,$event)">
			                			${index2}
                              </li>
                           </td>
                           <td>
                              <input type="checkbox" v-model="checkboxes[index][index2]['active']">
                           </td>
                        </td>
		            			</template>
			    			</template>
						</ul>
						</tbody>
					</div>
	    		</template>
	   	    </template>
	    </div>
	</div>

	<div class="modal fade" id="createReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Create Manufacture Schedule Report</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="createReport('{{user.id}}')">
               <div class="modal-body">
                  <div class="form-group">
                     <label>Manufacturing line*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Manufacture Line Name"
                        v-model="report.manufacture_line"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Start Date*</label>
                     <input
                        type="date"
                        class="form-control"
                        placeholder="Enter Start Date"
                        v-model="report.start_date"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>End Date*</label>
                     <input
                        type="date"
                        class="form-control"
                        placeholder="Enter End Date"
                        v-model="report.end_date"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create Report</button>
               </div>
            </form>
         </div>
      </div>
   </div>

      <div class="modal fade" id="scheduleAutomationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Automate Scheduling</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <h4 class="error" v-if="automate_error"> ${automate_error} </h4>
            <form v-on:submit.prevent="getAutomation()">
               <div class="modal-body">
<!--                   <table class="table">
                     <thead>
                           <tr>
                                 <th></th>
                                 <th>Manufacturing Lines</th>
                           </tr>
                     </thead>
                     <tbody>
                           <tr v-for="ml in manufacturing_lines">
                                 <td>
                                       <input type="checkbox" :indeterminate.prop="ml.part_active" v-model='ml.all_active'
                                             v-on:click="ml_checkbox_click($event, ml)">
                                 </td>
                                 <td>${ml}</td>
                           </tr>
                     </tbody>
                  </table> -->
                  <div class="form-group">
                     <label>Start Date*</label>
                     <input
                        type="date"
                        class="form-control"
                        placeholder="Enter Start Date"
                        v-model="automate.start_date"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>End Date*</label>
                     <input
                        type="date"
                        class="form-control"
                        placeholder="Enter End Date"
                        v-model="automate.end_date"
                        required="required" >
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create Provisional Scheduling</button>
               </div>
            </form>
         </div>
      </div>
   </div>

<!--       <div class="modal fade" id="schedulingProjectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Scheduler Automation Table</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <table class="table">
               <thead>
                  <tr> -->
                     <!-- <th>Year</th>
                     <th>Start Time</th>
                     <th>End Time</th>
                     <th>Sku name</th>
                     <th>Goal name</th>
                  </tr>
               </thead>
               <tbody>

               </tbody>
            </table>
            <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-info" data-dismiss="modal" v-on:click="scheduleData()">Copy Sales Avg</button>
               </div>
         </div>
      </div>
   </div> -->
{% endif %}
</div>
<script src="../static/js/scheduler.js"></script>
{% endblock %}