{% extends 'base.html' %}
{% block content %}
<div id="starting">
   <div class="container">
      <div class="row">
         <h1>List of SKUs
            <button class="btn btn-success" data-toggle="modal" data-target="#addSkuModal">Add Sku</button>
            <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" id="sku_search" type="search" placeholder="Search for SKUs" 
               aria-label="Search" v-model="query">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
<!--             <input type="file" @change="selectIngredientCSV">
            <button type="submit" @click="uploadIngredientCSV">Upload</button> -->
         </h1>
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Unit UPC</th>
                  <th scope="col">Case UPC</th>
                  <th scope="col">Actions</th>
               </tr>
            </thead>
            <tbody>
               <tr v-for="sku in skus">
                  <th scope="row">${sku.sku_name}</th>
                  <td>${sku.unitupc}</td>
                  <td>${sku.caseupc}</td>
                  <td>
                     <button class="btn btn-info" v-on:click="getSku(sku.id)">Edit</button>
                     <button class="btn btn-danger" v-on:click="deleteSku(sku.id)">Delete</button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
   <!-- Add Article Modal -->
   <div class="modal fade" id="addSkuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Add Sku</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="addSku()">
               <div class="modal-body">
                  <div class="form-group">
                     <label>SKU Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Sku Name"
                        v-model="newSku.sku_name"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>SKU Productline*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Sku Productline"
                        v-model="newSku.productline"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Case UPC*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Case UPC"
                        v-model="newSku.caseupc"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Unit UPC*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Unit UPC"
                        v-model="newSku.unitupc"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Unit Size*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Unit Size"
                        v-model="newSku.unit_size"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Count per Case*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Count per Case"
                        v-model="newSku.count"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>(Optional) SKU ID</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Optional Ingredient ID"
                        v-model="newSku.id">
                  </div>
                  <div class="form-group">
                     <label>(Optional) Tuples</label>
                     <input
                        class="form-control"
                        placeholder="Enter Optional Tuples"
                        v-model="newSku.tuple"
                        rows="5">
                  </div>
                  <div class="form-group">
                     <label>(Optional) Comment</label>
                     <input
                        class="form-control"
                        placeholder="Enter Optional Comment"
                        v-model="newSku.comment"
                        rows="3">
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <!-- End of add article modal -->
   <!-- Edit Article Modal -->
   <div class="modal fade" id="editSkuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLongTitle">Edit Sku</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <form v-on:submit.prevent="updateSku()">
               <div class="modal-body">
                  <div class="form-group">
                     <label>SKU Name*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Sku Name"
                        v-model="currentSku.sku_name"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>SKU Productline*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Sku Productline"
                        v-model="currentSku.productline"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Case UPC*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Case UPC"
                        v-model="currentSku.caseupc"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Unit UPC*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Unit UPC"
                        v-model="currentSku.unitupc"
                        required="required" >
                  </div>
                   <div class="form-group">
                     <label>Unit Size*</label>
                     <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Unit Size"
                        v-model="currentSku.unit_size"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>Count per Case*</label>
                     <input
                        type="number"
                        class="form-control"
                        placeholder="Enter Count per Case"
                        v-model="currentSku.count"
                        required="required" >
                  </div>
                  <div class="form-group">
                     <label>(Optional) Tuples</label>
                     <input
                        class="form-control"
                        placeholder="Enter Optional Tuples"
                        v-model="currentSku.tuple"
                        rows="5">
                  </div>
                  <div class="form-group">
                     <label>(Optional) Comment</label>
                     <input
                        class="form-control"
                        placeholder="Enter Optional Comment"
                        v-model="currentSku.comment"
                        rows="3">
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
      <div class="loading" v-if="loading===true">Loading&#8230;</div>
   </div>
   <!-- End of edit article modal -->
</div>
<script src="../static/js/sku.js"></script>
{% endblock %}